!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= 'БИПТест'

    :javascript
      var rcode = "#{SecureRandom.base64}"

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag controller_name, media: 'all'
    = javascript_include_tag 'application', controller_name, "/quick/client.js"
    = csrf_meta_tags
    = yield :action_js

  %body
    = yield
